{% extends 'base.html.twig' %}

{% block maintitle %}Fire Fighter index{% endblock %}
{% block breadcrumb %} 
<li class="breadcrumb-item active">Fire Fighter</li>
{% endblock %}
{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 1 %}
        {% for fire_fighter in fire_fighters %}
            <tr>
                <td>
                    {{ i }}
                    {% set i = i+1 %}
                </td>
                <td>{{ fire_fighter.name }}</td>
                <td>{{ fire_fighter.address }}</td>
                <td>{{ fire_fighter.phoneNumber }}</td>
                <td>
                    <a href="{{ path('fire_fighter_show', {'id': fire_fighter.id}) }}">
                    <button class="btn btn-primary btn-sm mr-3" title="Show">
                        <i class="fa fa-eye"></i>
                    </button></a>
                    <a href="{{ path('fire_fighter_edit', {'id': fire_fighter.id}) }}">
                    <button class="btn btn-info btn-sm" title="Edit">
                        <i class="fa fa-edit"></i>
                    </button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fire_fighter_new') }}"  class="btn btn-success">Create new</a>
{% endblock %}
