{% extends 'base.html.twig' %}

{% block title %}HealthCare index{% endblock %}

{% block body %}
    <h1>HealthCare index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Points</th>
                <th>PhoneNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for health_care in health_cares %}
            <tr>
                <td>{{ health_care.id }}</td>
                <td>{{ health_care.name }}</td>
                <td>{{ health_care.points }}</td>
                <td>{{ health_care.phoneNumber }}</td>
                <td>
                    <a href="{{ path('health_care_show', {'id': health_care.id}) }}">show</a>
                    <a href="{{ path('health_care_edit', {'id': health_care.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('health_care_new') }}">Create new</a>
{% endblock %}
