{% extends 'base.html.twig' %}

{% block maintitle %}Health Care index{% endblock %}
{% block breadcrumb %} 
<li class="breadcrumb-item active">Health Care</li>
{% endblock %}
{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 1 %}
        {% for health_care in health_cares %}
            <tr>
                <td>
                    {{ i }}
                    {% set i = i+1 %}
                </td>
                <td>{{ health_care.name }}</td>
                <td>{{ health_care.address }}</td>
                <td>{{ health_care.phoneNumber }}</td>
                <td>
                    <a href="{{ path('health_care_show', {'id': health_care.id}) }}">
                    <button class="btn btn-primary btn-sm mr-3" title="Show">
                        <i class="fa fa-eye"></i>
                    </button></a>
                    <a href="{{ path('health_care_edit', {'id': health_care.id}) }}">
                    <button class="btn btn-info btn-sm" title="Edit">
                        <i class="fa fa-edit"></i>
                    </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('health_care_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
