{% extends 'base.html.twig' %}

{% block maintitle %}Ambulance index{% endblock %}
{% block breadcrumb %} 
<li class="breadcrumb-item active">Ambulance</li>
{% endblock %}
{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Plate</th>
                <th>Owner</th>
                <th>GPS ID</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 1 %}
        {% for ambulance in ambulances %}
            <tr>
                <td>
                    {{ i }}
                    {% set i = i+1 %}
                </td>
                <td>{{ ambulance.plate }}</td>
                <td>{{ ambulance.owner }}</td>
                <td>{{ ambulance.gps }}</td>
                <td>
                    <a href="{{ path('ambulance_show', {'id': ambulance.id}) }}">
                    <button class="btn btn-primary btn-sm mr-3" title="Show">
                        <i class="fa fa-eye"></i>
                    </button></a>
                    <a href="{{ path('ambulance_edit', {'id': ambulance.id}) }}">
                    <button class="btn btn-info btn-sm" title="Edit">
                        <i class="fa fa-edit"></i>
                    </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ambulance_new') }}"  class="btn btn-success">Create new</a>
{% endblock %}
