{% extends 'base.html.twig' %}

{% block title %}Ambulance index{% endblock %}

{% block body %}
    <h1>Ambulance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Plate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ambulance in ambulances %}
            <tr>
                <td>{{ ambulance.id }}</td>
                <td>{{ ambulance.plate }}</td>
                <td>
                    <a href="{{ path('ambulance_show', {'id': ambulance.id}) }}">show</a>
                    <a href="{{ path('ambulance_edit', {'id': ambulance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ambulance_new') }}">Create new</a>
{% endblock %}
